.search-form > .submit {
  font-size: 20px;
  width: 50px;
  height: 20px;
  transform: translateY(3px); }

.search-button.-red, .search-form > .submit {
  background-color: red; }

.search-button.-large, .search-form > .submit {
  font-size: 20px; }
