<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Garcol</title>

    <link rel="stylesheet" href="../css/page.min.css">
</head>
<body>
    <div class="header-area">
        <div class="header-container">
            <div class="header--logo">
                <img src="../img/logo.png" alt="" class="logo">
            </div>
            <div class="header--btn">
                <div class="button">clickable</div>
                <div class="button">clickable</div>
            </div>
        </div>
    </div>
    <div class="menu-area">
        <div class="menu-container">
            <div class="menu--button-container">
                <div class="menu--button">clickable</div>
                <div class="menu--border-button-bottom -active"></div>
            </div>
            <div class="menu--button-container -border-bottom">
                <div class="menu--button">clickable</div>
                <div class="menu--border-button-bottom"></div>
            </div>
            <div class="menu--button-container">
                <div class="menu--button">clickable</div>
                <div class="menu--border-button-bottom"></div>
            </div>
            <div class="menu--button-container">
                <div class="menu--button">clickable</div>
                <div class="menu--border-button-bottom"></div>
            </div>
        </div>
        <script>
            // let menuBtns = document.querySelectorAll(".menu--button");
            // menuBtns.forEach(btn => {
            //     btn.addEventListener("mouseover", () => {
            //         let hoverBottom = btn.parentNode.getElementsByClassName("menu--border-button-bottom")[0];
            //         hoverBottom.classList.add("js-menu--border-button-bottom-active");
            //     })

            //     btn.addEventListener("mouseout", () => {
            //         let hoverBottom = btn.parentNode.getElementsByClassName("menu--border-button-bottom")[0];
            //         hoverBottom.classList.remove("js-menu--border-button-bottom-active");
            //     })
            // });
        </script>
        <div class="menu--border-bottom"></div>
    </div>
</body>
</html>