* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

.container-area {
    position: relative;
    padding: 0 20px;
    width: 100%;
    height: 100%;

    & > .element-area {
        position: absolute;

        &:nth-child(1) {
            z-index: 10
        }
    
        &:nth-child(2) {
            top: 50px;
            left: 300px;
            z-index: 0
        }
    }
}

.element-area {

    & > .meme-container {
        position: absolute;
        width: 100px;
        height: 100px;
        top: 40px;
        left: 230px;
    }

    & > .circle-container {
        position: absolute;
        width: 300px;
        height: 300px;
        top: 100px;
        left: 10px;
    }

    &:nth-child(2) > .circle-container.-color {
        background-color: green;
    }
}

.meme-container {
    &.-color {
        background-color: #00ffff;
    }

    &.-shape {
        border-radius: 50%;
    }
}

.circle-container {
    &.-color {
        background-color: #e91eda;
    }

    &.-shape {
        border-radius: 50%;
    }
}

