* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;

    & > .container-area {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.container-area {
    background-color: #0e2330;

    &:nth-child(2) {
        background-color: #e91e63;
        clip-path: circle(200px at center);   
    }

    &:nth-child(2) {
        & > .text {
            -webkit-text-stroke: 2px;
            -webkit-text-stroke-color: #fff;
            color: transparent;
        }
    }

    & > .text {
        position: absolute;
        left: 0;
        font-size: 10rem;
        color: #fff;
        white-space: nowrap;
        line-height: 100vh;
        cursor: default;
        animation: animate 60s infinite;
    }
}

@keyframes animate {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}



